/* cardToDo
cardToDo__description
cardToDo__info
cardToDo__date
cardToDo__status */
.cardToDo * {
  background: transparent;
}

.cardToDo {
  background-color: var(--background-div-color);
  height: 350px;
  width: 250px;
  border-radius: 5px;
  margin-left: 50px;
  margin-bottom: 73px;
}

.cardToDo__description {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  height: 235px;
  width: 250px;
  border-radius: 0px 0px 5px 5px;
  overflow: hidden;
}

.cardToDo__description {
  width: 250px;
  word-wrap: break-word;
  padding: 5px;
  color: var(--text-bg-color);
}

.cardToDo__date, .cardToDo__status, .cardToDo__select, .cardToDo__option {
  color: var(--background-div-color);
}

.cardToDo__info {
  display: flex;
  flex-direction: column;
  background-color: var(--text-bg-color);
  height: 115px;
  width: 250px;
  border-radius: 0px 0px 5px 5px;
}

.cardToDo__select {
  font-size: 32px;
  display: inline;
  border: 0;
  width: auto;
  appearance: none;
  outline: none;
  border: none;
  transition: all .4s ease-in-out;
}

.cardToDo__option {
  text-align: center;

  border: 0;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.cardToDo__date {
  height: 5px;
  font-size: 18px;
  align-content: center;
  margin: 5px;
}

.cardToDo__status {
  display: flex;
  align-items: center;
  font-size: 32px;
  justify-content: center;
  margin-top: 10px;
  height: 100px;
}

.cardToDo__trash {
  margin-left: 85%;
}

.cardToDo__button {
  border: none;
  cursor: pointer;
}
