.header * {
  background: transparent;
}

.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  height: 70px;
  background-color: var(--background-div-color);
}

.header__logo{
  display: flex;
  align-items: center;
}

.header__text {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.header__welcome{
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}

.header__date{
  display: flex;
  align-items: flex-end;
  height: 65px;
  text-transform: capitalize;
}
