@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.header, .header__logo, .header__welcome, .header__date, .header__logo, .header__text, .header__image {
  background-color: var(--background-div-color);
}
.header{
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  height: 70px;
  background-color: var(--background-div-color);
}

.header__logo{
  display: flex;
  align-items: center;
}

.header__text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}
/*
.header__welcome{

}


.header__date{

} */
