.imgaddtodo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 235px;
  width: 250px;
  border-radius: 0px 0px 5px 5px;
}

.imgaddtodo__button {
  border: none;
  cursor: pointer;
}
