:root {
  --background-bg-color: #1F1F1F;
  --text-bg-color: #D6D6D6;
  --background-div-color: #292929
  ;
  ;
}

* {
  margin: 0 auto;
  padding: 0;
  background-color: var(--background-bg-color);
  color: var(--text-bg-color);
}
